.row.mx-auto.my-2.justify-content-center
    .col-lg.col-md-5.mx-1
        p.lead <strong>Keep in touch with Spring</strong>
        form(action="")
            .form-group.row.mx-auto
                input.form-control-plaintext.col-lg.border-bottom(type="text",placeholder="enter your email address",style="outline:none")
                button.btn.btn-outline-dark.col-lg-auto.ml-lg-3.ml-0.mt-lg-0.mt-2
                    span Subscribe
        p.small.text-muted Keep in touch with our newsletter , subscribe now to know every thing about <strong>Spring</strong>
    .col-lg.col-md-5.mx-1
        p.lead <strong>Useful links</strong>
        ul.nav.justify-content-center
            li.nav-item.col-md-12.col-auto
                a.text-dark.small(href="",title="Home page")
                    span Home
            li.nav-item.col-md-12.col-auto
                a.text-dark.small(href="", title="Categories page")
                    span Categories
            li.nav-item.col-md-12.col-auto
                a.text-dark.small(href="", title="login to your account")
                    span Login
            li.nav-item.col-md-12.col-auto
                a.text-dark.small(href="", title="create new account")
                    span Create new account
            li.nav-item.col-md-12.col-auto
                a.text-dark.small(href="", title="logout from your account")
                    span Logout
            li.nav-item.col-md-12.col-auto
                a.text-dark.small(href="", title="read all refund policy")
                    span Refund policy
            li.nav-item.col-md-12.col-auto
                a.text-dark.small(href="", title="Frequently Asked Questions")
                    span FAQ
    .col-lg.mx-lg-1.mt-lg-0.mt-2
        p.lead.d-lg-block.d-none <strong>Follow Us On :</strong>
        ul.nav.justify-content-center
            li.nav-item.mx-lg-2.col-lg-12.col-auto
                a.lead.text-dark(href="")
                    span 
                        i.fab.fa-facebook.fa-2x
            li.nav-item.mx-lg-2.col-lg-12.col-auto
                a.lead.text-dark(href="")
                    span
                        i.fab.fa-twitter.fa-2x
            li.nav-item.mx-lg-2.col-lg-12.col-auto
                a.lead.text-dark(href="")
                    span
                        i.fab.fa-instagram.fa-2x
.col-12.row.mx-auto.bg-dark.text-light.justify-content-center
    spam.small Spring &copy; 2020 created by Mohamed Kamal                    
